{% extends "scheduling/layout.html" %}

{% block title %}
    Create Account
{% endblock %}

{% block body %}
<div class="text-center mt-5">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <!-- <form style="max-width:480px;margin:auto;" action="{% url 'register' %}" method="post"> -->
    <form style="max-width:480px;margin:auto;" action="{% url 'register' %}" method="post">

        {% csrf_token %}
        <label class="sr-only">Username</label>
        <input placeholder="Username" type="text" name="username" class="form-control" Required
            autofocus>

        <label class="sr-only">Email</label>
        <input placeholder="Email" type="email" name="email" class="form-control" Required
            autofocus>
            
        <label class="sr-only">Password</label>
        <input placeholder="Password" type="password" name="password" class="form-control" Required
            autofocus>

        <label class="sr-only">Confirm Password</label>
        <input placeholder="Confirm Password" type="password" name="confirmation" class="form-control" Required
            autofocus>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">

    </form>
    Already have an account? <a href="{% url 'login' %}">Login here.</a>

</div>

{% endblock %}